@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-vazirmatn: var(--font-vazirmatn);

  /* Primary color - use as bg-primary, text-primary, border-primary etc */
  --color-primary: #b66631; /* blue-600 for light mode */
  --color-primary-dark: #995425;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Apply Vazirmatn font to Persian text */
[dir="rtl"] {
  font-family: var(--font-vazirmatn), Arial, sans-serif;
}

[dir="rtl"] * {
  font-family: var(--font-vazirmatn), Arial, sans-serif;
}

.vazirmatn-font,
.vazirmatn-font * {
  font-family: var(--font-vazirmatn), Arial, sans-serif !important;
}
